@{
    ViewData["Title"] = "Home Page";
}

<h2>PassUsingViewData</h2>

<p>Rand Value First : @ViewData["FirstValue"]</p>
<p>Rand Value Second : @ViewData["SecondValue"]</p>
<p>Add :<br /> @ViewData["FirstValue"] + @ViewData["SecondValue"] = @ViewData["Add"]</p>
<p>Sub :<br /> @ViewData["FirstValue"] - @ViewData["SecondValue"] = @ViewData["Sub"]</p>
<p>Mult :<br /> @ViewData["FirstValue"] * @ViewData["SecondValue"] = @ViewData["Mult"]</p>
<p>Div :<br /> @ViewData["FirstValue"] / @ViewData["SecondValue"] = @ViewData["Div"]</p>


